body {
  background: url('https://c.tenor.com/RrYbTfOw-8UAAAAC/pikachu-pokemon.gif');
  margin: 0;
  font-family: fantasy;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
